<%- include("partials/header.ejs") %>

<body>
    <h1> Quote Finder </h1>
    <!-- 'searchByKeyword' value of the action -->
     <!-- when user click button, page will try to access route 'searchByKeyword' -->
      <!-- submits data from browser to Express -->
    <form action = "/searchByKeyword">
        Keyword:
        <!-- name attribute NEEDED to send user-entered value to Express server -->
        <input type = "text" name = "keyword">
        <button>Search by Keyword</button>
    </form>

    <br>

    <!-- lists authors by database -->
    <form action = "/searchByAuthor">
        <select name = "authorId">
            <% for (author of authors) { %>
            <option value = "<%= author.authorId %>">
                <%= author.firstName %> <%= author.lastName %>
            </option>
            <% } %>
        </select>

        <button>Search by Author</button>
    </form>

    <!-- to search by category -->
    <form action = "/searchByCategory">
        <select name = "category">
            <% for (category of categories) { %>
            <option value = "<%= category.category %>">
                <%= category.category %>
            </option>
            <% } %>
        </select>

        <button>Search by Category</button>
    </form>

    <!-- to search by likes -->
    <form action = "/searchByLikes">
        Min. Likes <input type = "text" name = "minLikes" placeholder = "0"/>
        Max. Likes <input type = "text" name = "maxLikes" placeholder = "1000"/>

        <button id = "likesBtn">Search by Likes</button>
    </form>

    <%- include("partials/footer.ejs") %>

</body>
