<%- include("partials/header.ejs") %>

<body>
    <h1>Quotes Found</h1>

    <!-- Display Quotes in a  view -->
    <% for (i of quotes) { %>
        <%= i.quote %> <br>
        -<em><%= i.firstName %> <%= i.lastName %></em>
        <br><br>
    <% } %>

<%- include("partials/footer.ejs") %>    
</body>

</html>